{{#each this}}
    <h2 class="country_name">{{name}}</h2>
    <div class="country_content">
        <div class="country_data">
            <p class="country_region"><b>Region:</b> {{region}}</p>
            <p class="country_capital"><b>Capital:</b> {{capital}}</p>
            <p class="country_population"><b>Population:</b> {{population}}</p>
            <p class="country_area"><b>Area:</b>{{area}}</p>
            <ul class="country_languages"><b>Languages:</b>
                {{#each languages}}
                <li class="country_language">{{name}}</li>
                {{/each}}
            </ul>
        </div>
        <img class="country_image" src="{{flag}}" alt="flag" width="360px">
    </div>
{{/each}}